@model LabAssignment6.DataAccess.AcademicRecord

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this academic record?</h3>
<div>
    <h4>Academic Record</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Course
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCodeNavigation.Title) (@Html.DisplayFor(model => model.CourseCodeNavigation.Code))
        </dd>
        <dt class = "col-sm-2">
            Student
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Name) (@Html.DisplayFor(model => model.Student.Id))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="hidden" asp-for="CourseCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>






















